.navbar {
    margin-bottom: 30px;
}
#container{
    width: 98%;
    margin:auto 1%;
}

@media (max-width: 960px) {
    #container{
        width: 100%;
        margin: auto;
    }
}

.hidden {
    display: none;
}

a > .fa-pencil-square-o {
    text-decoration: none;
    color: #27cc69;
    cursor: pointer;
    font-size: 1.5em;
    margin: 0 2px;
}

a > .fa-trash {
    text-decoration: none;
    color: #d62915;
    cursor: pointer;
    font-size: 1.5em;
    margin: 0 2px;
}
