#container{
    width: 98%;
    margin:auto 1%;
}

@media (max-width: 960px) {
    #container{
        width: 100%;
        margin: auto;
    }
}

div.dataTables_wrapper  div.dataTables_filter {
  width: 100%;
  float: none;
  text-align: center;
}
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.hidden {
    display: none;
}

a > .fa-pencil-square-o {
    text-decoration: none;
    color: #27cc69;
    cursor: pointer;
    font-size: 1.5em;
    margin: 0 2px;
}

a > .fa-trash {
    text-decoration: none;
    color: #d62915;
    cursor: pointer;
    font-size: 1.5em;
    margin: 0 2px;
}
