{{define "content"}}
    <table id="all_records_table" class="table table-striped" data-page-length="100">
        <thead>
        <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Order Type</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Order Time</th>
            <th scope="col">Notes</th>
            <th scope="col">Files</th>
        </tr>
        </thead>
        <tbody>
            {{$ff := .files}}
    {{range $record := .data}}
    <tr id="{{$record.ID}}" class="text-center">
        <td><b>{{$record.ID}}</b>
              <br /> 
              <a href="/records/edit/{{$record.ID}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              <a href="javascript:deleteRecord({{$record.ID}});"><i class="fa fa-trash" aria-hidden="true"></i></a>

          </td>
          <td>{{$record.Lastname}} {{$record.Firstname}}</td>
          <td>{{$record.OrderType}}</td>
          <td>{{$record.Address}}</td>
          <td>{{$record.Phone}}<br>{{$record.Phone2}}</td>
          <td>{{$record.FormatedDate}}</td>
          <td>{{$record.Notes}}</td>
          <td>
              {{range $f := index $ff $record.ID}}
              <a href="{{$f.Path}}">
                  {{if lt (len $f.Name) 20}}
                    {{$f.Name}}</a><br />
                  {{else}}
                    {{slice $f.Name 0 20}}...</a><br />
                  {{end}}
                {{end}}
          </td>
      </tr>
      {{end}}
        </tbody>
{{end}}
